<!DOCTYPE html>
<html>
<head>

<title>Task Manager</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<style>

body{
background:#f4f6f9;
font-family:Segoe UI;
}

/* NAVBAR */
.navbar-custom{
background:linear-gradient(90deg,#141e30,#243b55);
padding:15px;
color:white;
border-radius:10px;
}

/* CARD */
.card{
border:none;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* TABLE */
.table{
border-radius:10px;
overflow:hidden;
}

/* BUTTON HOVER */
.btn:hover{
transform:scale(1.05);
transition:.2s;
}

</style>

</head>

<body class="container mt-4">

<!-- NAVBAR -->
<div class="navbar-custom d-flex justify-content-between align-items-center">

<h4>
<i class="fa-solid fa-list-check"></i>
Task Management System
</h4>

<div>

{% if session.user %}

<span class="me-3">
<i class="fa-solid fa-user"></i>
<strong>{{session.user}}</strong>
</span>

{% if session.email == "admin@gmail.com" %}
<a href="/admin" class="btn btn-warning btn-sm">
<i class="fa-solid fa-shield-halved"></i>
Admin
</a>
{% endif %}

<a href="/logout" class="btn btn-danger btn-sm">
<i class="fa-solid fa-right-from-bracket"></i>
Logout
</a>

{% else %}

<a href="/login" class="btn btn-light btn-sm">Login</a>
<a href="/register" class="btn btn-success btn-sm">Register</a>

{% endif %}

</div>

</div>

<br>

{% block content %}{% endblock %}

</body>
</html>