{% extends "base.html" %}

{% block content %}

<form method="POST">

<input name="title"
class="form-control mb-2"
placeholder="Task Title" required>

<textarea name="description"
class="form-control mb-2"
placeholder="Task Description"></textarea>

<input type="date"
name="due_date"
class="form-control mb-2">

<textarea name="remarks"
class="form-control mb-2"
placeholder="Task Remarks"></textarea>

<input name="created_by"
class="form-control mb-2"
placeholder="Created By (Name/ID)">

<button class="btn btn-success">
Create Task
</button>

</form>

{% endblock %}